<a href="https://colab.research.google.com/github/m-girl/ITAI_2374_Data_Science_AI/blob/main/ITAI2377_Lab_Student_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Okay, here's the complete code and markdown, broken into blocks as requested, to create a well-structured Colab notebook addressing the instructions.

**Notebook Title:** `L02_Your_Name_ITAI_2377.ipynb`

---

### **Markdown Cell 1: Introduction**

```markdown
# Lesson 2: Understanding Different Data Types for AI

**Author:** [Your Name]
**Course:** ITAI 2377

This notebook explores how AI systems process various data types, including structured, image, and text data. We will load datasets, examine their characteristics, and discuss conceptual questions related to AI's ability to understand and interpret these different formats.
```

---

### **Code Cell 1: Clone the Dataset Repository**

In [7]:
# Clone the entire dataset repository
!git clone https://github.com/patitimoner/itai2377-datasets.git
%cd itai2377-datasets
!ls

Cloning into 'itai2377-datasets'...
remote: Enumerating objects: 21, done.
remote: Counting objects: 100% (21/21), done.
remote: Compressing objects: 100% (16/16), done.
remote: Total 21 (delta 6), reused 16 (delta 2), pack-reused 0 (from 0)
Receiving objects: 100% (21/21), 30.86 MiB | 25.28 MiB/s, done.
Resolving deltas: 100% (6/6), done.
/content/itai2377-datasets/itai2377-datasets
data  ITAI2377_Lab_Student_Notebook.ipynb  README.md

---

### **Markdown Cell 2: Conceptual Question - Dataset Repository**

```markdown
üëâ **Conceptual Question:** Why is it beneficial to use a shared dataset repository rather than each student downloading datasets manually?

**Answer:**

Using a shared dataset repository offers several advantages:

1.  **Consistency:** Ensures everyone works with the same data version, avoiding discrepancies in analysis and results.
2.  **Efficiency:** Reduces redundant downloads and saves bandwidth and storage space.
3.  **Maintainability:** Makes it easier to update or correct datasets centrally. Any changes are immediately reflected for all users.
4.  **Reproducibility:** Facilitates reproducible research, as everyone has access to the exact same data source.
5.  **Collaboration:** Promotes collaboration among students and researchers by providing a common data foundation.
```

---

### **Markdown Cell 3: Part 3 - Understanding Structured Data**

```markdown
## üìä Part 3: Understanding Structured Data (Tabular Data)

Structured data, often stored in tables with rows and columns, is a common data type in various fields like finance, healthcare, and e-commerce.  AI systems can analyze this data to find patterns, make predictions, and automate decisions.
```

---

### **Code Cell 2: Load and Explore Customer Dataset**

In [8]:
import pandas as pd

# Load structured dataset from the cloned repository
df = pd.read_csv("data/structured/Online Retail.csv")

# Display the first few rows
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

---

### **Markdown Cell 4: Conceptual Question - Customer Purchase Prediction**

```markdown
üëâ **Conceptual Question:** If an AI system were built to predict customer purchases, what kind of patterns would it need to detect?

**Answer:**

To predict customer purchases, an AI system would need to identify various patterns, including:

1.  **Demographics:** Age, gender, location, etc., might correlate with purchasing behavior.
2.  **Past Purchase History:** Frequency, recency, and types of items bought can indicate future preferences.
3.  **Product Relationships:** Customers who buy product A might also be likely to buy product B.
4.  **Seasonal Trends:** Certain products might sell more during specific times of the year.
5.  **External Factors:** Economic conditions, promotions, or even the weather can influence purchasing decisions.
6.  **Customer Segmentation:** Grouping customers with similar characteristics can help tailor predictions.
```

---

### **Markdown Cell 5: Part 4 - Understanding Image Data**

```markdown
## üñºÔ∏è Part 4: Understanding Image Data (Computer Vision)

Image data, unlike structured data, is represented as grids of pixels. Computer vision, a subfield of AI, focuses on enabling computers to "see" and interpret images.
```

---

### **Code Cell 3: Load CIFAR-10 with TensorFlow/Keras**

In [9]:
from tensorflow.keras.datasets import cifar10
import numpy as np

# Load CIFAR-10 dataset
(x_train, y_train), (x_test, y_test) = cifar10.load_data()

# Select 10 images per class
images_per_class = 10
selected_images = []
selected_labels = []

for class_label in range(10):  # CIFAR-10 has 10 classes
    indices = np.where(y_train == class_label)[0][:images_per_class]
    selected_images.extend(x_train[indices])
    selected_labels.extend(y_train[indices])

# ‚ú® TIP: The code above filters images based on class labels using NumPy's `where` function.

---

### **Code Cell 4: Load CIFAR-10 with PyTorch (TorchVision)**

In [11]:
import torchvision
import torchvision.transforms as transforms
import torch
from torch.utils.data import Subset

# Load CIFAR-10 dataset from TorchVision
dataset = torchvision.datasets.CIFAR10(
    root="./data", train=True, download=True, transform=transforms.ToTensor()
)

# Extract a subset of 10 images per class
images_per_class = 10
selected_indices = []

for class_label in range(10):
    class_indices = [
        i for i, (_, label) in enumerate(dataset) if label == class_label
    ]
    selected_indices.extend(class_indices[:images_per_class])

subset = Subset(dataset, selected_indices)

# ‚ú® TIP: PyTorch's `Subset` allows sampling specific indices from a dataset.

---

### **Markdown Cell 6: Conceptual Question - AI vs. Human Image Recognition**

```markdown
üëâ **Conceptual Question:** Why does AI need millions of images to accurately classify objects, while humans can recognize patterns with just a few examples?

**Answer:**

This difference stems from how humans and AI "learn":

1.  **Abstraction and Generalization:** Humans excel at abstracting concepts and generalizing from limited examples. We can recognize a cat from various angles, lighting conditions, and breeds after seeing only a few.
2.  **Prior Knowledge and Context:** Humans leverage a vast amount of background knowledge and contextual understanding. We know what a cat is, its typical features, and how it differs from other animals.
3.  **Feature Extraction:** Human brains are incredibly efficient at extracting relevant features from images, focusing on key characteristics that define an object.
4.  **AI's Data Dependency:** AI, especially deep learning models, learns by identifying statistical patterns in vast datasets. It needs numerous examples to learn the variations and nuances of each object class.
5.  **Lack of Common Sense:** AI currently lacks the "common sense" reasoning that humans possess, making it harder to generalize from limited data.
```

---

### **Markdown Cell 7: Part 5 - Understanding Text Data**

```markdown
## üìù Part 5: Understanding Text Data (Natural Language Processing)

Text data presents unique challenges for AI due to its inherent ambiguity, context-dependent meaning, and the presence of figurative language like sarcasm and metaphors. Natural Language Processing (NLP) is the field dedicated to enabling computers to understand and process human language.
```

---

### **Code Cell 5: Read a Sample Text File**

In [23]:
import os
os.listdir("data")

['structured', 'cifar-10-python.tar.gz', 'cifar-10-batches-py', 'text']

In [33]:
os.listdir("data/text")

['bbc-news-data.csv']

In [34]:
import pandas as pd

df = pd.read_csv("data/text/bbc-news-data.csv", engine="python", delimiter=None)
df.head()

,category\tfilename\ttitle\tcontent,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 154,Unnamed: 155,Unnamed: 156,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163
0,business\t001.txt\tAd sales boost Time Warner ...,from $639m year-earlier. The firm,which is now one of the biggest investors in ...,benefited from sales of high-speed internet c...,and less users for AOL. Time Warner said on ...,AOL,had has mixed fortunes. It lost 464,000 subscribers in the fourth quarter profits ...,the company said AOL's underlying profit befo...,which is close to concluding. Time Warner's ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,business\t003.txt\tYukos unit buyer faces loan...,so it will have to pay real money to the cred...,"said Moscow-based US lawyer Jamie Firestone, ...",we will fight them where the rule of law exis...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,business\t004.txt\tHigh fuel prices hit BA's p...,the airline made a pre-tax profit of ¬£75m ($1...,BA's chief executive,"said the results were ""respectable"" in a thir...",and it expects a rise in full-year revenues. ...,BA last year introduced a fuel surcharge for ...,it increased this from ¬£6 to ¬£10 one-way for ...,while the short-haul surcharge was raised fro...,further benefiting from a rise in cargo reven...,BA warned that yields - average revenues per ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,business\t005.txt\tPernod takeover talk lifts ...,but has yet to contact its target. Allied Dom...,while Pernod shares in Paris slipped 1.2%. Pe...,the move which propelled it into the global t...,Pernod - at 7.5bn euros ($9.7bn) - is about 9...,which has a capitalisation of ¬£5.7bn ($10.7bn...,one of Scotland's premier whisky firms,but lost out to luxury goods firm LVMH. Perno...,Havana Club rum and Jacob's Creek wine. Allie...,Courvoisier brandy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,business\t006.txt\tJapan narrowly escapes rece...,figures show. Revised figures indicated grow...,the data suggests annual growth of just 0.2%,suggesting a much more hesitant recovery than...,and we will monitor developments carefully,said economy minister Heizo Takenaka. But in ...,"said Paul Sheard, economist at Lehman Brother...","said Rick Egelton, deputy chief economist at ...","said Ken Mayland, president of ClearView Econ...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
with open("data/text/bbc-news-data.csv", "r", encoding="utf-8", errors="ignore") as f:
    raw = f.readlines()

In [49]:
rows = [line.strip().split("\t") for line in raw]

In [50]:
import pandas as pd

df = pd.DataFrame(rows)

In [51]:
df.columns = df.iloc[0]
df = df[1:]

In [46]:
df.head()

,"""category",filename,title,"content"",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
1,"""business",001.txt,Ad sales boost Time Warner profit,Quarterly profits at US media giant TimeWarne...
2,business,002.txt,Dollar gains on Greenspan speech,The dollar has hit its highest level against ...
3,"""business",003.txt,Yukos unit buyer faces loan claim,The owners of embattled Russian oil giant Yuk...
4,"""business",004.txt,High fuel prices hit BA's profits,British Airways has blamed high fuel prices f...
5,"""business",005.txt,Pernod takeover talk lifts Domecq,Shares in UK drinks and food firm Allied Dome...

In [59]:
import pandas as pd

# Load the file in the simplest possible way
df = pd.read_csv("data/text/bbc-news-data.csv", header=None, engine="python", on_bad_lines="skip")

# Show the first row (the header row)
print("HEADER ROW:")
print(df.iloc[0])

# Show the first 10 column names
print("\nCOLUMN NAMES:")
print(df.columns.tolist()[:20])

HEADER ROW:
0      category\tfilename\ttitle\tcontent
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
                      ...
159                                   NaN
160                                   NaN
161                                   NaN
162                                   NaN
163                                   NaN
Name: 0, Length: 164, dtype: object

COLUMN NAMES:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [62]:
# Read the file as plain text
with open("data/text/bbc-news-data.csv", "r", encoding="utf-8", errors="ignore") as f:
    lines = [line.strip() for line in f]

# The header is the first line
header_raw = lines[0]

# Split header on literal "\t"
header = header_raw.split("\\t")

# The first article is the second line
first_article_raw = lines[1]

# Split article on literal "\t"
first_article = first_article_raw.split("\\t")

# Pair header with article fields
article = dict(zip(header, first_article))

# Display the article
print("Category:", article.get("category"))
print("Filename:", article.get("filename"))
print("Title:", article.get("title"))
print("\nContent:\n", article.get("content"))

Category: None
Filename: None
Title: None

Content:
 None

In [68]:
import pandas as pd

# Load raw lines
with open("data/text/bbc-news-data.csv", "r", encoding="utf-8", errors="ignore") as f:
    lines = [line.rstrip("\n") for line in f]

articles = []
current = None

categories = {"business", "entertainment", "politics", "sport", "tech"}

for line in lines:
    parts = line.split("\t")

    # If this line starts a new article
    if parts[0] in categories:
        # Save previous article
        if current:
            articles.append(current)

        # Start new article
        current = {
            "category": parts[0],
            "filename": parts[1],
            "title": parts[2],
            "content": parts[3]
        }
    else:
        # Continuation of content
        if current:
            current["content"] += " " + line.strip()

# Add last article
if current:
    articles.append(current)

df = pd.DataFrame(articles)

# Show full article
print("Category:", df.iloc[0]["category"])
print("Filename:", df.iloc[0]["filename"])
print("Title:", df.iloc[0]["title"])
print("\nFULL ARTICLE:\n")
print(df.iloc[0]["content"])

Category: business
Filename: 002.txt
Title: Dollar gains on Greenspan speech

FULL ARTICLE:

 The dollar has hit its highest level against the euro in almost three months after the Federal Reserve head said the US trade deficit is set to stabilise.  And Alan Greenspan highlighted the US government's willingness to curb spending and rising household savings as factors which may help to reduce it. In late trading in New York, the dollar reached $1.2871 against the euro, from $1.2974 on Thursday. Market concerns about the deficit has hit the greenback in recent months. On Friday, Federal Reserve chairman Mr Greenspan's speech in London ahead of the meeting of G7 finance ministers sent the dollar higher after it had earlier tumbled on the back of worse-than-expected US jobs data. I think the chairman's taking a much more sanguine view on the current account deficit than he's taken for some time"," said Robert Sinche, head of currency strategy at Bank of America in New York. He's taking a longer-term view"," laying out a set of conditions under which the current account deficit can improve this year and next.""  Worries about the deficit concerns about China do", however, remain. China's currency remains pegged to the dollar and the US currency's sharp falls in recent months have therefore made Chinese export prices highly competitive. But calls for a shift in Beijing's policy have fallen on deaf ears," despite recent comments in a major Chinese newspaper that the ""time is ripe"" for a loosening of the peg. The G7 meeting is thought unlikely to produce any meaningful movement in Chinese policy. In the meantime", the US Federal Reserve's decision on 2 February to boost interest rates by a quarter of a point - the sixth such move in as many months - has opened up a differential with European rates. The half-point window, some believe, could be enough to keep US assets looking more attractive, and could help prop up the dollar. The recent falls have partly been the result of big budget deficits, as well as the US's yawning current account gap, both of which need to be funded by the buying of US bonds and assets by foreign firms and governments. The White House will announce its budget on Monday, and many commentators believe the deficit will remain at close to half a trillion dollars. ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, "business	003.txt	Yukos unit buyer faces loan claim	 The owners of embattled Russian oil giant Yukos are to ask the buyer of its former production unit to pay back a $900m (¬£479m) loan.  State-owned Rosneft bought the Yugansk unit for $9.3bn in a sale forced by Russia to part settle a $27.5bn tax claim against Yukos. Yukos' owner Menatep Group says it will ask Rosneft to repay a loan that Yugansk had secured on its assets. Rosneft already faces a similar $540m repayment demand from foreign banks. Legal experts said Rosneft's purchase of Yugansk would include such obligations. ""The pledged assets are with Rosneft", so it will have to pay real money to the creditors to avoid seizure of Yugansk assets," said Moscow-based US lawyer Jamie Firestone, who is not connected to the case. Menatep Group's managing director Tim Osborne told the Reuters news agency: If they default"," we will fight them where the rule of law exists under the international arbitration clauses of the credit.""  Rosneft officials were unavailable for comment. But the company has said it intends to take action against Menatep to recover some of the tax claims and debts owed by Yugansk. Yukos had filed for bankruptcy protection in a US court in an attempt to prevent the forced sale of its main production arm. The sale went ahead in December and Yugansk was sold to a little-known shell company which in turn was bought by Rosneft. Yukos claims its downfall was punishment for the political ambitions of its founder Mikhail Khodorkovsky and has vowed to sue any participant in the sale. ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, "business	004.txt	High fuel prices hit BA's profits	 British Airways has blamed high fuel prices for a 40% drop in profits.  Reporting its results for the three months to 31 December 2004", the airline made a pre-tax profit of ¬£75m ($141m) compared with ¬£125m a year earlier. Rod Eddington, BA's chief executive," said the results were ""respectable"" in a third quarter when fuel costs rose by ¬£106m or 47.3%. BA's profits were still better than market expectation of ¬£59m", and it expects a rise in full-year revenues.  To help offset the increased price of aviation fuel, BA last year introduced a fuel surcharge for passengers.  In October, it increased this from ¬£6 to ¬£10 one-way for all long-haul flights, while the short-haul surcharge was raised from ¬£2.50 to ¬£4 a leg. Yet aviation analyst Mike Powell of Dresdner Kleinwort Wasserstein says BA's estimated annual surcharge revenues - ¬£160m - will still be way short of its additional fuel costs - a predicted extra ¬£250m. Turnover for the quarter was up 4.3% to ¬£1.97bn, further benefiting from a rise in cargo revenue. Looking ahead to its full year results to March 2005, BA warned that yields - average revenues per passenger - were expected to decline as it continues to lower prices in the face of competition from low-cost carriers. However," it said sales would be better than previously forecast. ""For the year to March 2005", the total revenue outlook is slightly better than previous guidance with a 3% to 3.5% improvement anticipated," BA chairman Martin Broughton said. BA had previously forecast a 2% to 3% rise in full-year revenue.  It also reported on Friday that passenger numbers rose 8.1% in January. Aviation analyst Nick Van den Brul of BNP Paribas described BA's latest quarterly results as pretty modest"". ""It is quite good on the revenue side and it shows the impact of fuel surcharges and a positive cargo development", however, operating margins down and cost impact of fuel are very strong," he said. Since the 11 September 2001 attacks in the United States, BA has cut 13,000 jobs as part of a major cost-cutting drive. Our focus remains on reducing controllable costs and debt whilst continuing to invest in our products", Mr Eddington said. For example," we have taken delivery of six Airbus A321 aircraft and next month we will start further improvements to our Club World flat beds."" BA's shares closed up four pence at 274.5 pence. ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, "business	005.txt	Pernod takeover talk lifts Domecq	 Shares in UK drinks and food firm Allied Domecq have risen on speculation that it could be the target of a takeover by France's Pernod Ricard.  Reports in the Wall Street Journal and the Financial Times suggested that the French spirits firm is considering a bid", but has yet to contact its target. Allied Domecq shares in London rose 4% by 1200 GMT, while Pernod shares in Paris slipped 1.2%. Pernod said it was seeking acquisitions but refused to comment on specifics.  Pernod's last major purchase was a third of US giant Seagram in 2000, the move which propelled it into the global top three of drinks firms. The other two-thirds of Seagram was bought by market leader Diageo. In terms of market value, Pernod - at 7.5bn euros ($9.7bn) - is about 9% smaller than Allied Domecq, which has a capitalisation of ¬£5.7bn ($10.7bn; 8.2bn euros). Last year Pernod tried to buy Glenmorangie, one of Scotland's premier whisky firms, but lost out to luxury goods firm LVMH. Pernod is home to brands including Chivas Regal Scotch whisky, Havana Club rum and Jacob's Creek wine. Allied Domecq's big names include Malibu rum, Courvoisier brandy, Stolichnaya vodka and Ballantine's whisky - as well as snack food chains such as Dunkin' Donuts and Baskin-Robbins ice cream. The WSJ said that the two were ripe for consolidation, having each dealt with problematic parts of their portfolio. Pernod has reduced the debt it took on to fund the Seagram purchase to just 1.8bn euros, while Allied has improved the performance of its fast-food chains. ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, "business	006.txt	Japan narrowly escapes recession	 Japan's economy teetered on the brink of a technical recession in the three months to September", figures show.  Revised figures indicated growth of just 0.1% - and a similar-sized contraction in the previous quarter. On an annual basis, the data suggests annual growth of just 0.2%," suggesting a much more hesitant recovery than had previously been thought. A common technical definition of a recession is two successive quarters of negative growth.  The government was keen to play down the worrying implications of the data. ""I maintain the view that Japan's economy remains in a minor adjustment phase in an upward climb", and we will monitor developments carefully," said economy minister Heizo Takenaka. But in the face of the strengthening yen making exports less competitive and indications of weakening economic conditions ahead, observers were less sanguine. It's painting a picture of a recovery... much patchier than previously thought"," said Paul Sheard, economist at Lehman Brothers in Tokyo. Improvements in the job market apparently have yet to feed through to domestic demand, with private consumption up just 0.2% in the third quarter.

In [69]:
import textwrap

# Grab the article text
article = df.iloc[0]["content"]

# Wrap it so it displays nicely in the cell
print("\n".join(textwrap.wrap(article, width=100)))

 The dollar has hit its highest level against the euro in almost three months after the Federal
Reserve head said the US trade deficit is set to stabilise.  And Alan Greenspan highlighted the US
government's willingness to curb spending and rising household savings as factors which may help to
reduce it. In late trading in New York, the dollar reached $1.2871 against the euro, from $1.2974 on
Thursday. Market concerns about the deficit has hit the greenback in recent months. On Friday,
Federal Reserve chairman Mr Greenspan's speech in London ahead of the meeting of G7 finance
ministers sent the dollar higher after it had earlier tumbled on the back of worse-than-expected US
jobs data. I think the chairman's taking a much more sanguine view on the current account deficit
than he's taken for some time"," said Robert Sinche, head of currency strategy at Bank of America in
New York. He's taking a longer-term view"," laying out a set of conditions under which the current
account deficit can improve this year and next.""  Worries about the deficit concerns about China
do", however, remain. China's currency remains pegged to the dollar and the US currency's sharp
falls in recent months have therefore made Chinese export prices highly competitive. But calls for a
shift in Beijing's policy have fallen on deaf ears," despite recent comments in a major Chinese
newspaper that the ""time is ripe"" for a loosening of the peg. The G7 meeting is thought unlikely
to produce any meaningful movement in Chinese policy. In the meantime", the US Federal Reserve's
decision on 2 February to boost interest rates by a quarter of a point - the sixth such move in as
many months - has opened up a differential with European rates. The half-point window, some believe,
could be enough to keep US assets looking more attractive, and could help prop up the dollar. The
recent falls have partly been the result of big budget deficits, as well as the US's yawning current
account gap, both of which need to be funded by the buying of US bonds and assets by foreign firms
and governments. The White House will announce its budget on Monday, and many commentators believe
the deficit will remain at close to half a trillion dollars. ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
"business      003.txt Yukos unit buyer faces loan claim        The owners of embattled Russian oil
giant Yukos are to ask the buyer of its former production unit to pay back a $900m (¬£479m) loan.
State-owned Rosneft bought the Yugansk unit for $9.3bn in a sale forced by Russia to part settle a
$27.5bn tax claim against Yukos. Yukos' owner Menatep Group says it will ask Rosneft to repay a loan
that Yugansk had secured on its assets. Rosneft already faces a similar $540m repayment demand from
foreign banks. Legal experts said Rosneft's purchase of Yugansk would include such obligations.
""The pledged assets are with Rosneft", so it will have to pay real money to the creditors to avoid
seizure of Yugansk assets," said Moscow-based US lawyer Jamie Firestone, who is not connected to the
case. Menatep Group's managing director Tim Osborne told the Reuters news agency: If they default","
we will fight them where the rule of law exists under the international arbitration clauses of the
credit.""  Rosneft officials were unavailable for comment. But the company has said it intends to
take action against Menatep to recover some of the tax claims and debts owed by Yugansk. Yukos had
filed for bankruptcy protection in a US court in an attempt to prevent the forced sale of its main
production arm. The sale went ahead in December and Yugansk was sold to a little-known shell company
which in turn was bought by Rosneft. Yukos claims its downfall was punishment for the political
ambitions of its founder Mikhail Khodorkovsky and has vowed to sue any participant in the sale. ",,,
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, "business    004.txt High fuel prices hit
BA's profits        British Airways has blamed high fuel prices for a 40% drop in profits.
Reporting its results for the three months to 31 December 2004", the airline made a pre-tax profit
of ¬£75m ($141m) compared with ¬£125m a year earlier. Rod Eddington, BA's chief executive," said the
results were ""respectable"" in a third quarter when fuel costs rose by ¬£106m or 47.3%. BA's profits
were still better than market expectation of ¬£59m", and it expects a rise in full-year revenues.  To
help offset the increased price of aviation fuel, BA last year introduced a fuel surcharge for
passengers.  In October, it increased this from ¬£6 to ¬£10 one-way for all long-haul flights, while
the short-haul surcharge was raised from ¬£2.50 to ¬£4 a leg. Yet aviation analyst Mike Powell of
Dresdner Kleinwort Wasserstein says BA's estimated annual surcharge revenues - ¬£160m - will still be
way short of its additional fuel costs - a predicted extra ¬£250m. Turnover for the quarter was up
4.3% to ¬£1.97bn, further benefiting from a rise in cargo revenue. Looking ahead to its full year
results to March 2005, BA warned that yields - average revenues per passenger - were expected to
decline as it continues to lower prices in the face of competition from low-cost carriers. However,"
it said sales would be better than previously forecast. ""For the year to March 2005", the total
revenue outlook is slightly better than previous guidance with a 3% to 3.5% improvement
anticipated," BA chairman Martin Broughton said. BA had previously forecast a 2% to 3% rise in full-
year revenue.  It also reported on Friday that passenger numbers rose 8.1% in January. Aviation
analyst Nick Van den Brul of BNP Paribas described BA's latest quarterly results as pretty modest"".
""It is quite good on the revenue side and it shows the impact of fuel surcharges and a positive
cargo development", however, operating margins down and cost impact of fuel are very strong," he
said. Since the 11 September 2001 attacks in the United States, BA has cut 13,000 jobs as part of a
major cost-cutting drive. Our focus remains on reducing controllable costs and debt whilst
continuing to invest in our products", Mr Eddington said. For example," we have taken delivery of
six Airbus A321 aircraft and next month we will start further improvements to our Club World flat
beds."" BA's shares closed up four pence at 274.5 pence. ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
,,,, "business  005.txt Pernod takeover talk lifts Domecq        Shares in UK drinks and food firm
Allied Domecq have risen on speculation that it could be the target of a takeover by France's Pernod
Ricard.  Reports in the Wall Street Journal and the Financial Times suggested that the French
spirits firm is considering a bid", but has yet to contact its target. Allied Domecq shares in
London rose 4% by 1200 GMT, while Pernod shares in Paris slipped 1.2%. Pernod said it was seeking
acquisitions but refused to comment on specifics.  Pernod's last major purchase was a third of US
giant Seagram in 2000, the move which propelled it into the global top three of drinks firms. The
other two-thirds of Seagram was bought by market leader Diageo. In terms of market value, Pernod -
at 7.5bn euros ($9.7bn) - is about 9% smaller than Allied Domecq, which has a capitalisation of
¬£5.7bn ($10.7bn; 8.2bn euros). Last year Pernod tried to buy Glenmorangie, one of Scotland's premier
whisky firms, but lost out to luxury goods firm LVMH. Pernod is home to brands including Chivas
Regal Scotch whisky, Havana Club rum and Jacob's Creek wine. Allied Domecq's big names include
Malibu rum, Courvoisier brandy, Stolichnaya vodka and Ballantine's whisky - as well as snack food
chains such as Dunkin' Donuts and Baskin-Robbins ice cream. The WSJ said that the two were ripe for
consolidation, having each dealt with problematic parts of their portfolio. Pernod has reduced the
debt it took on to fund the Seagram purchase to just 1.8bn euros, while Allied has improved the
performance of its fast-food chains. ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, "business
006.txt Japan narrowly escapes recession         Japan's economy teetered on the brink of a
technical recession in the three months to September", figures show.  Revised figures indicated
growth of just 0.1% - and a similar-sized contraction in the previous quarter. On an annual basis,
the data suggests annual growth of just 0.2%," suggesting a much more hesitant recovery than had
previously been thought. A common technical definition of a recession is two successive quarters of
negative growth.  The government was keen to play down the worrying implications of the data. ""I
maintain the view that Japan's economy remains in a minor adjustment phase in an upward climb", and
we will monitor developments carefully," said economy minister Heizo Takenaka. But in the face of
the strengthening yen making exports less competitive and indications of weakening economic
conditions ahead, observers were less sanguine. It's painting a picture of a recovery... much
patchier than previously thought"," said Paul Sheard, economist at Lehman Brothers in Tokyo.
Improvements in the job market apparently have yet to feed through to domestic demand, with private
consumption up just 0.2% in the third quarter.

In [70]:
print(df.iloc[0])

category                                             business
filename                                              002.txt
title                        Dollar gains on Greenspan speech
content      The dollar has hit its highest level against ...
Name: 0, dtype: object

In [32]:
# Load and display a sample news article

# Replace with a valid path to a text file if you want to read a file.
# For example: sample_article_path = "data/text/bbc_news/tech/001.txt"

try:
    with open(sample_article_path, "r") as file:
        content = file.read()
        print(content)
except FileNotFoundError:
    print(f"Error: File not found at path: {sample_article_path}")
    print("Please make sure to provide a valid path to a text file within the cloned repository.")

# ‚ú® TIP: The `open()` function with the "r" mode allows you to read a file in Python.

Error: File not found at path: data/text/bbc_news/001.txt
Please make sure to provide a valid path to a text file within the cloned repository.

---

### **Markdown Cell 8: Conceptual Question - AI and Text Ambiguity**

```markdown
üëâ **Conceptual Question:** Why do AI models struggle to understand sarcasm and context in text processing?

**Answer:**

Sarcasm and context pose significant challenges for AI because:

1.  **Literal Interpretation:** AI tends to interpret text literally, while sarcasm relies on conveying a meaning opposite to the literal words.
2.  **Contextual Nuances:** Understanding sarcasm often requires recognizing subtle cues, background knowledge, and the speaker's intent, which are difficult for AI to grasp.
3.  **Figurative Language:** Sarcasm is a form of figurative language, and AI struggles to understand metaphors, idioms, and other non-literal expressions.
4.  **Lack of World Knowledge:** AI lacks the broad "world knowledge" and common sense that humans use to infer the true meaning behind sarcastic remarks.
5.  **Data Bias:** If the training data doesn't adequately represent sarcastic language, the AI model will be less accurate in detecting it.
```

---

### **Markdown Cell 9: Discussion Questions**

```markdown
## üß† Discussion Questions

**1. How does AI process structured, image, and text data differently?**

*   **Structured Data:** AI analyzes structured data using statistical methods and machine learning algorithms to find patterns, correlations, and make predictions based on numerical and categorical features.
*   **Image Data:** AI processes images using computer vision techniques, primarily convolutional neural networks (CNNs), to extract features from pixel data, identify objects, and classify images.
*   **Text Data:** AI handles text data through natural language processing (NLP) techniques, including tokenization, word embeddings, and recurrent neural networks (RNNs) or transformers, to understand the meaning, sentiment, and context of text.

**2. What real-world AI applications combine multiple types of data (structured, image, text)?**

*   **Autonomous Vehicles:** Combine sensor data (structured), camera images (image), and map data (structured/text) for navigation and decision-making.
*   **Medical Diagnosis:** Integrate patient records (structured), medical images (image), and doctor's notes (text) for accurate diagnoses.
*   **E-commerce Recommendations:** Use customer purchase history (structured), product images (image), and product descriptions (text) to personalize recommendations.
*   **Social Media Analysis:** Analyze user profiles (structured), posts (text), and shared images (image) to understand public opinion and trends.
*   **Fraud Detection:** Combine transaction data (structured), user location (structured), and textual descriptions of transactions to detect fraudulent activity.

**3. Imagine you're building an AI personal assistant. What type of data would it need?**

An AI personal assistant would require a wide range of data, including:

*   **User's Calendar and Schedule (Structured):** To manage appointments and provide reminders.
*   **Contacts (Structured):** To make calls, send messages, and manage communications.
*   **Emails and Messages (Text):** To understand and respond to communications.
*   **Voice Commands (Audio/Text):** To process user requests and interact naturally.
*   **Location Data (Structured):** To provide location-based services and recommendations.
*   **User Preferences (Structured/Text):** To personalize the assistant's responses and suggestions.
*   **Web Browsing History (Structured/Text):** To understand user interests and provide relevant information.
*   **News and Information (Text):** To answer questions and provide updates on current events.
*   **Potentially, images from the user's camera (Image):** For visual tasks or context awareness.
```

---

### **Markdown Cell 10: Conclusion**

```markdown
## üí° Takeaway: AI Needs the Right Data

This notebook demonstrated that AI systems rely heavily on data to function effectively. Different data types require specialized processing techniques. Understanding these fundamentals is crucial for anyone working with or building AI systems. The ability to process and interpret diverse data is essential for creating AI that can truly understand and interact with the world.
```

---

**Remember to replace placeholders like `[Your Name]` with your actual information.**

**Save the notebook as:** `L02_Your_Name_ITAI_2377.ipynb`

**Submit the `.ipynb` notebook as a PDF on Canvas.**

I hope this comprehensive breakdown is helpful! Let me know if you have any other questions.